<h1><b>Seunghwan Kim</b><span>[1997.12.26_Georgian College, Barrie, Ontario, Canada]</span></h1>

    <div>This is Seunghwan Kim also known as Joseph Kim.<br>
        I'm currently enrolled in COPR(Computer Programmer) program in Georgian College.<br>
        I'm learning .NET Framework, System Analysis, Mobile development using Swift, and Javascript Frameworks, <br>
        also studied database, C language, Java, and Linux with VMWare before. <br>
        I'm trying to effort to get more skills programming for my future. <br>

        <!-- Gives hyper link to go to the site link -->
        <a href="https://www.georgiancollege.ca/" target="_blank">Visit my College site</a>
    </div>

