<h1>Here is the contact info for contact me</h1>

<!-- use hyperlink to work on contact each information of contact methods -->
<p>Contact via Phone: <a href="sms:4168364973">416 - 836 - 4973</a><br></p>
<p>   </p><br>
<p>Contact via Email: <a href="mailto:200359764@student.georgianc.on.ca">200359764@student.georgianc.on.ca</a><br></p>
<p>   </p><br>
<p>My Linkedin Profile: <a href="https://www.linkedin.com/in/seunghwan-kim-2640ba161/">See my Linkedin Profile</a></p>