<h1>This is Seunghwan Kim's project page</h1>


<p>I have some programming skills such as java, js, php, .NET, C etc.</p>
<p>There are some project things in my github site. I posted my github link in this page.</p><br>
<p>Here is my Github link: <a href="https://github.com/SeunghwanKim-GC/">Seunghwan Kim's Github</a></p>
